* {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #cdd8e3;
}

input {
  width: 100%;
  height: 59px;
  padding: 10px;
  background-color: #403f46;
}

body {
  background-color: #18181b;
}
.calc {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  padding: 40px;
  gap: 20px;
}

button {
  background-color: #17a34c;
  height: 44px;
  cursor: pointer;
}

h1 {
  font-size: 32px;
}
